{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "**/*.(md|mdx)",
      "options": {
        "printWidth": 120,
        "proseWrap": "always"
      }
    }
  ]
}
